.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200%;
}

.home-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.home-content-card-group-container {
    display: flex;
    flex-direction: column;
}

.learn-more {
    background-color: #f8f5ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    width: 100%;
}

.home-text-container {
    width: min(100%, 1280px);
}

.home-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 70%;
    left: 5em;
    bottom: 5em;
}

.home-text h1 {
    color: #884efe;
}

.home-place-holder {
    width: 30%;
}

.home-image {
    position: absolute;
    width: 32em;
    object-fit: cover;
    bottom: 0;
    right: 0;
}

.download-app {
    width: 100%;
    background-color: #884efe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-app-container {
    width: min(100%, 1280px);
    display: flex;
    flex-direction: row;
}

.download-app-text {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5em;
    margin-left: 1em;
    margin-right: 5em;
    color: #ffffff;
    width: 50%;
}

.download-app-text h1 {
    font-size: 1.2em;
}

.download-app-text p {
    font-size: 1em;
}

.download-app-image img {
    margin-top: 1em;
    margin-right: 1em;
    width: 16em;
}

.qr-code-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.qr-code-text {
    position: relative;
    right: 200px;
    top: 80px;
}