.hero-section {
    width: 100%;
    background-color: #884efe;
    display: flex;
    justify-content: center;
}

.hero-container {
    display: flex;
    flex-direction: row;
    width: min(100%, 800px);
}

.hero-text-container {
    margin-top: 5em;
    margin-left: 1em;
    margin-right: 5em;
}

.slogan-1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 2rem;
    margin: 0;
}

.slogan-2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-top: 1em;
}

.logo-container {
    margin-top: 1em;
    margin-right: 1em;
}

.logo-container img {
    width: 16em;
    height: 16em;
}